/* Définir les couleurs principales */
:root {
    --primary-color: #c8ff00;  /* Couleur primaire (bleu foncé) */
    --secondary-color: #f39c12; /* Yellow */
    --background-color: #13171f; /* Black */
    --text-color: #ffffff; /* Texte blanc */
    --highlight-color: c8ff00; /* Rouge pour survol ou messages d'erreur */
    --success-color: #2ecc71; /* Vert pour le succès */
}

/* Corps de la page */
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed to align items to the top */
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
    transform: translateY(-280px); /* Shift all elements upward */
}

/* Conteneur principal */
.fixed-header {
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 9999;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 20px;
    position: relative;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.button-disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.blink-green {
    animation: blink-green 0.5s;
}

.blink-red {
    animation: blink-red 0.5s;
}

@keyframes blink-green {
    0%, 100% { background-color: inherit; }
    50% { background-color: green; }
}

@keyframes blink-red {
    0%, 100% { background-color: inherit; }
    50% { background-color: red; }
}

.autocomplete-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 0px);
    border-top: none;
    z-index: 10;
    background-color: #28333d; /* Change to your color*/
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    list-style: none;
    border-radius: 0 0 5px 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* subtle shadow */
}

.suggestion-item {
    padding: 12px; /* Add padding */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: #adbb62;
    font-size: 14px;
}

.suggestion-item:hover {
    background-color: #3a444e;  /* Make it a little ligther */
}

.autocomplete-suggestions li:last-child .suggestion-item {
    border-bottom: none; /*Remove last border*/
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

/* Titre */
h1 {
    font-size: 24px;
    color: #c8ff00;
    margin-bottom: 10px;
}

/* Conteneur du tableau */
.global-container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h2.ai-style-change-1 {
    width: 100%;
    background-color: transparent;
    z-index: 50;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
     top: -15px;
}

/* Style du tableau */
table#career-table {
  width: 90%;
  max-width: 600px;
  background-color: initial;
  z-index: 10;
  border-collapse: collapse;
  margin-bottom: 20px;
  position: relative;
    top: 0px;
    table-layout: fixed;
}

/* Définir la largeur des colonnes */
th, td {
    padding: 12px 15px;
    font-size: 12px;
    color: var(--text-color);
    word-wrap: break-word;
    vertical-align: middle; /* Add vertical alignment */
}

th {
    background-color: #13171f;
    color: #c8ff00;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

td {
    background-color: #13171f;
    color: var(--text-color);
    font-size: 13px
}

/* Masquer le texte de la cellule, mais garder la couleur de fond */
td.hidden {
    visibility: hidden;
    text-align: center;
}

/* Lorsque la cellule est révélée */
td.visible {
    visibility: visible !important;
}

/* Pour la colonne des pays, appliquer un fond bleu marine et garder la structure */
td[data-country] {
    visibility: hidden;
      vertical-align: middle; /* Add vertical alignment to countries*/
}

/* Pour la colonne des clubs, appliquer la couleur de fond appropriée */
td[data-club] {
    visibility: hidden; /* Le texte reste invisible */
    vertical-align: middle; /* Add vertical alignment to clubs*/
}

/* Rendre le tableau responsive */
@media (max-width: 768px) {
  table#career-table {
    width: 95%;
         font-size: 11px;
    }
    
     th, td {
           padding: 8px;
    }
}

/* Centrer la barre de saisie */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Centrer la barre de saisie */
input#guess-input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #c8ff0052;
    background-color: #161616;
    color: #949e71;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}

#guess-input:focus {
    border-color: #949e71;
    outline: none;
}

/* Style pour afficher les tentatives */
#attempts {
    margin-top: -2px;
    color: var(--text-color);
    font-size: 14px;
}

/* Liste déroulante des suggestions */
.autocomplete-suggestions {
    position: absolute;
    background-color: #28333d;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    margin-top: -20px;
    list-style: none;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestions li {
    padding: 10px;
    cursor: pointer;
    background-color: #161616;
    color: #adbb62;
    border-bottom: 1px solid #3f464d;
}

.autocomplete-suggestions li:last-child {
    border-bottom: none;
}

.autocomplete-suggestions li:hover {
    background-color: #111e2b;
    color: #c8ff00;
    font-weight: bold;
    border-radius: 5px;
}

/* Clignotement vert */
.blink-green {
    animation: blink-green 0.8s ease;
}

@keyframes blink-green {
    0%, 100% { background-color: black; }
    50% { background-color: lightgreen; }
}

/* Clignotement rouge */
.blink-red {
    animation: blink-red 0.8s ease;
}

@keyframes blink-red {
    0%, 100% { background-color: black; }
    50% { background-color: lightcoral; }
    
}
.player-name-rectangle {
    display: inline-block;
    width: 15px;
    height: 30px;
    background-color: var(--text-color);
    margin-right: 1px;
    vertical-align: middle;
    margin-top: -30px;
    transition: all 0.5s ease; /* Added transition for smooth morphing */
    border-radius: 2px
}

.player-name-rectangle.morph {
  width: auto;
    height: auto;
    padding: 0px 10px; /* Adding padding for better spacing */
    border-radius: 0px; /* Removing the border radius */
    margin-right: 0px; /* Removing right margin */
    margin-top: 0px;
     background-color: transparent;
    display: inline;
}

.player-name-rectangle.morph::after {
    content: attr(data-letter); /* Using the data-letter attribute to display the letter */
    font-weight: bold;
        display: inline;
        color: white;
        font-size: 20px; /* Adjust font size if you wish */

}

/* Définir la largeur des colonnes */
th:nth-child(1), td:nth-child(1) {
    width: 26%; /* More width for the "Années" column */
    min-width: 26%;
}

th:nth-child(2), td:nth-child(2),
th:nth-child(3), td:nth-child(3) {
     width: 37%; /* Slightly less width for "Club" and "Pays" columns */
    min-width: 37%;
}
